@{
    ViewData["Title"] = "Sangmyung University";
}

<div class="jumbotron">
    <h1>Sangmyung University</h1>
</div>
<img src="/images/university.jpg" alt="university_image" class="uni_img" 
     style="width:1000px; height:600px; margin-bottom:2rem;" />
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Sangmyung University is a great educational evironment
            to students helping them to make their dream come true.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build your dream with Sangmyung</h2>
        <p>You can build your own dream with the perfect education system of Sangmyung</p>
        
    </div>
    <div class="col-md-4">
        <h2>How to Apply</h2>
        <p>Preparing an application is very simple unlike other universities</p>
        <p><a class="btn btn-default" href="">Start your application &raquo;</a></p>
    </div>
</div>